            body {
                background-color: #EFE9D1;
                margin: 0;
            }
            #topHeartDiv {
                margin: 10px auto; display: flex; align-items: center; justify-content: center; margin-top: 25PX; padding-left: 0px;
            }
            #topHeart {
                width: 3%;
            }
            #bicycleDiv {
                display: flex; align-items: center; justify-content: center; margin: 20PX; padding-left: 0px;
            }  
            #menuDiv {
                display: none;
            }
            #menuSwitch {
                background-color: whitesmoke; border: 1px solid black; position: absolute; margin: 1%; padding: 10px; border-radius: 8%; font-family: sans-serif, serif; letter-spacing: 1px; 
            }
            #menuSwitch:hover {
                background-color: burlywood;
            }

            #menuContent {
                 text-align: center; margin: 0 auto; padding: 8px; border-radius: 12%; font-family: Times New Roman, sans-serif, serif; letter-spacing: 1.5px; font-size: 14px; position: relative; top: 20px; display: none; padding-right: 48px;
            }
            #spaceForMenu {
                background-color: #EFE9D1;
                height: 140px;
                display: none;
            }
            #placeHolder {
                width: 100%; height: 100px;background-color: #EFE9D1; 
            }
            #navbarDiv {
                width: 100%; min-height: 40px; overflow: hidden;  opacity: 0.95; filter: alpha(opacity=95); background-color: #EFE9D1; padding: 20px;
            } 
          
            #theNavbar {
                display: block;
            }
            .navbar {
                width: 520px; margin: 0 auto; font-size: 13px; font-family: Times New Roman, Georgia, sans-serif, serif; letter-spacing: 1.5px; 
            }
            a {
                margin: 5px 12px; color: #231F20; text-decoration: none;
            }
            a:hover {
                color: #B1987C; opacity: 70%;
            }
            #home .home {
                color: #B1987C !important;
            }
            #detailbody .details {
                color: #B1987C !important;
            }
            #photobody .photos {
                color: #B1987C !important;
            }
            #KenYubingPhotos .photos {
                color: #B1987C !important;
            }
            #giftbody .gifts {
                color: #B1987C !important;
            }
            .sticky {
              position: fixed;
              top: 0;
              width: 100%
            }
            .dropdown {
                position: relative;
                float: left;
                padding-top: 4px;
                white-space: nowrap;
                width: 80px;
            }
             #chinese1 {
                position: relative;
                float: left;
                padding-top: 3.5px;
            }
             .chinese1 {
                position: relative;
                float: left;
                padding-top: 3.5px;
            }
            .chinese {
                font-size: 11.5px;
            }
            .dropdown-content {
                padding-left: 3px;
                display: none;
                z-index: 1;
                background-color: #EFE9D1;
                position: relative;
                left: 5px; top: 10px;
            }
            .dropdown:hover .dropdown-content {
                display: block;
            }
            .dropdown-content a:hover {
                text-decoration: underline;
            }
           
           
            #coverPhotoDiv {
                width: 100%; height: auto; background-color: white; margin: 0 auto; padding: 1.3%; margin-bottom: 100px;
            }
            #brideBridegroomNameDiv {
                font-size: 37px; color: #B1987C; margin: 30px auto 15px auto; text-align: center;
            }
            #datePlaceDiv {
                font-size: 12px; font-family: sans-serif; margin: 20 auto; text-align: center;
            }
            #countDownDiv {
                font-size: 12px; font-family: sans-serif; margin: 30 auto; padding: 10px; text-align: center;
            }
            
            #textSectionDiv{  
            }
            .textSection {
                text-align: center; padding: 5px 40px; line-height: 28px; font-family: "Times New Roman", Georgia, Serif; font-size:16px;
            }
            .textSection h3 {
                color: #B1987C; padding-top: 10px; 
            }
            .textSection h4 {
                color: #B1987C; padding-top: 10px; 
            }
            #metStory, #datingStory {
                text-align: justify; font-family: "Georgia", sans-serif; font-size: 14px;  
            }
            .longTextDiv {
                max-width: 608px; margin: 0 auto;
            }
            .heartSmall {
                height: 22px; margin-top: 30px; margin-bottom: 40px;
            }
            .heartLarge {
                height: 48px; margin-top: 30px; margin-bottom: 40px;
            }
            #rsvp {
                background-color: whitesmoke; border: 1px solid black; margin: 30px; padding: 10px; border-radius: 8%; font-family: sans-serif, serif; letter-spacing: 1px; 
            }
            #rsvpP { padding: 20px;}
            #ending {
                padding: 40px 0 5px 0; font-size: 12px;
            }
            #ourStory, #theWedding, #weddingParty {
                padding-top: 150px; margin-top: -100px;
            }
           .linkButton {
                background-color: whitesmoke; border: 1px solid black; margin: 5px; padding: 10px; border-radius: 5%; font-family: sans-serif, serif; letter-spacing: 1px; 
            }
            .linkButtonP { padding: 20px;}
            }
            #weddingVenue, #localAcc, #travel, #thingsToDo {
                padding-top: 150px; margin-top: -100px;
            }
            .longTextDiv {
                max-width: 600px; margin: 0 auto;
            }
            .longText {
                text-align: justify;
            }
            #photoTitles {
                text-align: center;
            }
            #thumbNailDiv {
                display: block;
                text-align: center;
            }
            
            #thumbNailDiv img {
                display: block;
                width: 100%;
                max-width: 450px;
                margin: 0 auto;
            } 
            .english1 {
                position: relative;
                float: left;
                padding-top: 5px;
            }
            .xsmallHeart {
                width: 15px; border-radius: 50%; border: solid 5px white; padding-top: 5px;
            }
            #kenYubingPhotosDiv img {
                display: block;
                width: 92%;
                max-width: 650px;
                margin: 0 auto;
                padding: 15px;
                background-color: white;
            }